#foodList{
    display:flex;
    flex-flow: row wrap;
    margin: 3vw;
    justify-content: space-between;

    
}
section{
    border: 1px solid red;
    text-align: center;
    width: 20vw;
    padding: 1rem;
    margin-bottom: .7rem;
}
#nameID{
    text-emphasis: bold;
    font-size: 150%;
    padding-bottom: 1.5rem
}

#catFood{
    padding: .5rem;
    font-size: 120%
}
#ethFood{
    padding:1rem;
    font-size:100%;
}

#idFood{
    font-size: 75%;
    padding: 1rem;
}